body{
  background-color: tan;
  color: brown;
}
h2{
  color: rgb(58, 15, 29);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(208, 160, 223)
}
.cont {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Add some padding inside the card container */
.card > .container {
  display: flex;
  justify-content: space-between;
}

.card > img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card > .container > h6 {
  width: 100%;
}

.list-group {
  margin-bottom: 1em;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination > li {
  list-style: none;
  margin-right: 1em;
}